@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);
--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    max-width: 144rem;
    min-height: 100vh;
    background-color: var(--Cream);
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.Mobile-Image{
    display: none;
    width: 100%;
}
.Desktop-Image{
    display: block;
    width: 100%;
}

.card {
    display: flex;
    width: 60rem;
    height: 45rem;
    background-color: var(--White);
    border-radius: 1rem;
    overflow: hidden;
}

.card__element{
    padding: 3.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-1{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: var(--Grey);
    font-weight: 500;
}

.text-2{
    font-family: "Fraunces", serif;
    font-size: 3.5rem;
    font-weight: 700;
}

.text-3{
    font-weight: 500;
    line-height: 1.5;
    color: var(--Grey);
}

.card__price{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    font-family: "Fraunces", serif;
}

.price-1{
    font-size: 3rem;
    color: var(--Green-500);
    font-weight: 700
}

.price-2{
    font-size: 1.2rem;
    text-decoration: line-through;
    color: var(--Grey);
}
.card__button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    padding: 1.4rem;
    background-color: var(--Green-500);
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--White);
}
.card__button:hover{
    background-color: var(--Green-700);
}

@media (max-width: 425px) {
    .card{
        margin: 2rem auto;
        flex-direction: column;
        width: 35rem;
        height: auto;
    }
    .Desktop-Image{
        display: none;
    }
    .Mobile-Image{
        display: block;
    }
    .text-1{
        margin-bottom: 3rem;
    }
    .text-2{
        margin-bottom: 3rem;
    }
    .text-3{
        margin-bottom: 3rem;
    }
    .card__price{
        margin-bottom: 2rem;
    }
}

@media (max-width: 320px) {
    .card{
        width: 31rem;
    }
}